img {
    width: 500px;
    margin-bottom: 20px;
}

body {
    text-align: center;
    position: relative;
    top: 90px;
}

.text-output-div {
    margin: 15px;
}

#tableFlip {
    position: absolute;
    bottom: 90px;
    opacity: .2;
    visibility: hidden;
    height: 250px;
}